$header-height: 60px;
$footer-height: 60px;

.chat-header {
  position: absolute;
  height: $header-height;
  top: 20px;
  right: 0;
  left: 0;
}

.chat {
  position: absolute;
  top: $header-height+20;
  bottom: $footer-height+20;
  right: 0;
  left: 0;
  overflow: auto !important;
  font-size: 13px;
}

.chat-footer {
  position: absolute;
  height: $footer-height;
  bottom: 20px;
  right: 0;
  left: 0;
}