@import "../../../../scss/theme";

.promeets-scrollbar {
  background-color: $primary;
  opacity: 0.2;
  border-radius: 2px;
}

.show-scrollbar .scrollbar-track-y {
  position: absolute;
  top: 0;
  right: 2px;
  width: 5px;
}

.show-scrollbar .scrollbar-thumb-y {
  background: $primary;
  border-radius: 2px;
  opacity: 0.4;
  cursor: pointer;
}