@import "../css/material-fonts.css";
@import "../css/material-icons.css";
@import "theme";

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: $primary-text;
  background-color: #f5f5f5;
  margin: 0;
}

.text-roboto-thin{
  font-family: "Roboto Thin", "Helvetica", "Arial", sans-serif;
}

.awesome-scrollbar::-webkit-scrollbar-track {
}

.awesome-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.awesome-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(46, 125, 50, 0.4);
  border-radius: 2px;
  cursor: pointer !important;
}

//.welcome {
//  text-align: center;
//  margin: auto;
//}
//
//.welcome-main {
//  color: $primary;
//  font-size: 4em;
//}
//
//.welcome-motto {
//  color: $accent;
//  font-size: 1.3em;
//  vertical-align: middle;
//}

